mixin menu__info(text)
    i.fas.fa-th-large
    .text= text

mixin prod__detail(link)
    .wrap-content
        img(src=link)
        .price 1.550.000 Đ
        .name Máy khoan Black Decker
        .vote
            .star
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.far.fa-star
            .text (12 Đánh giá)
            .clearfix
        .button
            a(href="")
                button MUA NGAY
            a(href="../file_pug/detail.html")
                button XEM CHI TIẾT 

mixin prod__detail2(link)
    .wrap
        .col-4.img
            img(src=link, alt="")
        .col-8.content
            .name MÁY KHOAN CNC 3D
            .vote
                .star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.far.fa-star
                .text (12 Đánh giá)
                .clearfix
            .text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et...
            .price 2.350.000 Đ
            .button
                a(href="")
                    button MUA NGAY
                a(href="../file_pug/detail.html")
                    button XEM CHI TIẾT 
        .clearfix
.container
    .prod-featured
        .prod-featured__top
            .prod-featured__top__left
                i.fas.fa-th-large
                h2 SẢN PHẨM NỔI BẬT
            .prod-featured__top__right
                button
                    i.fas.fa-caret-left
                button
                    i.fas.fa-caret-right
            .clearfix
        .prod-featured__bottom
            .row
                .col-3.menu                  
                    .menu__info.active
                        +menu__info('Máy khoan, cắt CNC')                        
                    .menu__info
                        +menu__info('Máy in phun cỡ lớn') 
                    .menu__info
                        +menu__info('Máy quét Canon 3D') 
                    .menu__info
                        +menu__info('Máy hàn điện Alunima') 
                    .menu__info
                        +menu__info('Máy khoan Decameta') 
                    .menu__info
                        +menu__info('Máy phay đa năng CNC') 
                    .menu__info
                        +menu__info('Máy mài, tiện DC 12V') 
                    .menu__info
                        +menu__info('Máy khoan, cắt CNC') 
                    .menu__info
                        +menu__info('Máy quay thông minh N3') 
                    .menu__info
                        +menu__info('Motor R34C đa dụng') 
                    .menu__info
                        +menu__info('Máy in laser màu 3D') 
                .col-9.prod
                    .row
                        .col-4.prod__detail
                            +prod__detail('../images/3.jpg')                                                        
                        .col-4.prod__detail
                            +prod__detail('../images/4.jpg') 
                        .col-4.prod__detail
                            +prod__detail('../images/5.jpg') 
                    .row
                        .col-4.prod__detail
                            +prod__detail('../images/6.jpg') 
                        .col-4.prod__detail
                            +prod__detail('../images/7.jpg') 
                        .col-4.prod__detail
                            +prod__detail('../images/8.jpg') 
    .prod-new
        .prod-new__top
            .prod-new__top__left
                i.fas.fa-th-large
                h2 SẢN PHẨM MỚI
                .clearfix
            .prod-new__top__center
                button
                    i.fas.fa-caret-left
                button
                    i.fas.fa-caret-right
            .prod-new__top__right
                button Máy khoan
                button Máy in 3D
                button Máy CNC
                button Máy tiện
                button Máy khác
            .clearfix
        .prod-new__bottom
            .row
                .col-4.prod__detail
                    +prod__detail('../images/9.jpg') 
                .col-4.prod__detail
                    +prod__detail('../images/10.jpg') 
                .col-4.prod__detail
                    +prod__detail('../images/11.jpg') 
    .banner-mid
        .row
            .col-6.banner-mid__img
                img(src="../images/12.jpg", alt="")
            .col-6.banner-mid__img
                img.right(src="../images/13.jpg", alt="")
            .clearfix
    .prod-sell
        .prod-sell__top
            .prod-sell__top__left
                i.fas.fa-th-large
                h2 SẢN PHẨM BÁN CHẠY
                .clearfix
            .prod-sell__top__center
                button
                    i.fas.fa-caret-left
                button
                    i.fas.fa-caret-right
            .prod-sell__top__right
                button Máy khoan
                button Máy in 3D
                button Máy CNC
                button Máy tiện
                button Máy khác
            .clearfix
        .prod-sell__bottom
            .row
                .col-3.prod-sell__bottom__left
                    .prod-detail.high
                        +prod__detail('../images/14.jpg') 
                    .prod-detail
                        +prod__detail('../images/15.jpg') 
                .col-6.prod-sell__bottom__center
                    .prod-detail.center
                        +prod__detail('../images/16.jpg') 
                .col-3.prod-sell__bottom__right
                    .prod-detail.high
                        +prod__detail('../images/17.jpg') 
                    .prod-detail
                        +prod__detail('../images/18.jpg') 
        .prod-sell__banner
            img(src="../images/19.jpg")
    .prod-new-arrive
        .prod-new-arrive__top
            .prod-new-arrive__top__left
                i.fas.fa-th-large
                h2 HÀNG MỚI VỀ
            .prod-new-arrive__top__right
                button
                    i.fas.fa-caret-left
                button
                    i.fas.fa-caret-right
            .clearfix
        .prod-new-arrive__bottom
            .row
                .col-6.prod-detail2
                    +prod__detail2("../images/10.jpg")
                .col-6.prod-detail2
                    +prod__detail2("../images/15.jpg")
            .row
                .col-6.prod-detail2
                    +prod__detail2("../images/4.jpg")
                .col-6.prod-detail2
                    +prod__detail2("../images/9.jpg")

