.container
    .prod-featured
        .prod-featured__top
            .prod-featured__top__left
                i.fas.fa-th-large
                h2 SẢN PHẨM NỔI BẬT
            .prod-featured__top__right
                button
                    i.fas.fa-caret-left
                button
                    i.fas.fa-caret-right
            .clearfix
        .prod-featured__bottom
            .row
                .col-3.menu
                    .menu__info.active
                        i.fas.fa-th-large
                        .text Máy khoan, cắt CNC
                    .menu__info
                        i.fas.fa-th-large
                        .text Máy in phun cỡ lớn
                    .menu__info
                        i.fas.fa-th-large
                        .text Máy quét Canon 3D
                    .menu__info
                        i.fas.fa-th-large
                        .text Máy hàn điện Alunima
                    .menu__info
                        i.fas.fa-th-large
                        .text Máy khoan Decameta
                    .menu__info
                        i.fas.fa-th-large
                        .text Máy phay đa năng CNC
                    .menu__info
                        i.fas.fa-th-large
                        .text Máy mài, tiện DC 12V
                    .menu__info
                        i.fas.fa-th-large
                        .text Máy khoan, cắt CNC
                    .menu__info
                        i.fas.fa-th-large
                        .text Máy quay thông minh N3
                    .menu__info
                        i.fas.fa-th-large
                        .text Motor R34C đa dụng
                    .menu__info
                        i.fas.fa-th-large
                        .text Máy in laser màu 3D
                .col-9.prod
                    .row
                        .col-4.prod__detail
                            .wrap-content
                                img(src="../images/3.jpg")
                                .price 1.550.000 Đ
                                .name Máy khoan Black Decker
                                .vote
                                    .star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.far.fa-star
                                    .text (12 Đánh giá)
                                    .clearfix
                                .button
                                    button MUA NGAY
                                    button XEM CHI TIẾT 
                        .col-4.prod__detail
                            .wrap-content
                                img(src="../images/4.jpg")
                                .price 1.550.000 Đ
                                .name Máy khoan Black Decker
                                .vote
                                    .star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.far.fa-star
                                    .text (12 Đánh giá)
                                    .clearfix
                                .button
                                    button MUA NGAY
                                    button XEM CHI TIẾT 
                        .col-4.prod__detail
                            .wrap-content
                                img(src="../images/5.jpg")
                                .price 1.550.000 Đ
                                .name Máy khoan Black Decker
                                .vote
                                    .star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.far.fa-star
                                    .text (12 Đánh giá)
                                    .clearfix
                                .button
                                    button MUA NGAY
                                    button XEM CHI TIẾT 
                    .row
                        .col-4.prod__detail
                            .wrap-content
                                img(src="../images/6.jpg")
                                .price 1.550.000 Đ
                                .name Máy khoan Black Decker
                                .vote
                                    .star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.far.fa-star
                                    .text (12 Đánh giá)
                                    .clearfix
                                .button
                                    button MUA NGAY
                                    button XEM CHI TIẾT 
                        .col-4.prod__detail
                            .wrap-content
                                img(src="../images/7.jpg")
                                .price 1.550.000 Đ
                                .name Máy khoan Black Decker
                                .vote
                                    .star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.far.fa-star
                                    .text (12 Đánh giá)
                                    .clearfix
                                .button
                                    button MUA NGAY
                                    button XEM CHI TIẾT 
                        .col-4.prod__detail
                            .wrap-content
                                img(src="../images/8.jpg")
                                .price 1.550.000 Đ
                                .name Máy khoan Black Decker
                                .vote
                                    .star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.far.fa-star
                                    .text (12 Đánh giá)
                                    .clearfix
                                .button
                                    button MUA NGAY
                                    button XEM CHI TIẾT 
    .prod-new
        .prod-new__top
            .prod-new__top__left
                i.fas.fa-th-large
                h2 SẢN PHẨM MỚI
                .clearfix
            .prod-new__top__center
                button
                    i.fas.fa-caret-left
                button
                    i.fas.fa-caret-right
            .prod-new__top__right
                button Máy khoan
                button Máy in 3D
                button Máy CNC
                button Máy tiện
                button Máy khác
            .clearfix
        .prod-new__bottom
            .row
                .col-4.prod__detail
                    .wrap-content
                        img(src="../images/9.jpg")
                        .price 1.550.000 Đ
                        .name Máy khoan Black Decker
                        .vote
                            .star
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star
                                i.far.fa-star
                            .text (12 Đánh giá)
                            .clearfix
                        .button
                            button MUA NGAY
                            button XEM CHI TIẾT
                .col-4.prod__detail
                    .wrap-content
                        img(src="../images/10.jpg")
                        .price 1.550.000 Đ
                        .name Máy khoan Black Decker
                        .vote
                            .star
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star
                                i.far.fa-star
                            .text (12 Đánh giá)
                            .clearfix
                        .button
                            button MUA NGAY
                            button XEM CHI TIẾT
                .col-4.prod__detail
                    .wrap-content
                        img(src="../images/11.jpg")
                        .price 1.550.000 Đ
                        .name Máy khoan Black Decker
                        .vote
                            .star
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star
                                i.far.fa-star
                            .text (12 Đánh giá)
                            .clearfix
                        .button
                            button MUA NGAY
                            button XEM CHI TIẾT
    .banner-mid
        .row
            .col-6.banner-mid__img
                img(src="../images/12.jpg", alt="")
            .col-6.banner-mid__img
                img.right(src="../images/13.jpg", alt="")
            .clearfix
    .prod-sell
        .prod-sell__top
            .prod-sell__top__left
                i.fas.fa-th-large
                h2 SẢN PHẨM BÁN CHẠY
                .clearfix
            .prod-sell__top__center
                button
                    i.fas.fa-caret-left
                button
                    i.fas.fa-caret-right
            .prod-sell__top__right
                button Máy khoan
                button Máy in 3D
                button Máy CNC
                button Máy tiện
                button Máy khác
            .clearfix
        .prod-sell__bottom
            .row
                .col-3.prod-sell__bottom__left
                    .prod-detail.high
                        .wrap-content
                            img(src="../images/14.jpg")
                            .price 1.550.000 Đ
                            .name Máy khoan Black Decker
                            .vote
                                .star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.far.fa-star
                                .text (12 Đánh giá)
                                .clearfix
                            .button
                                button MUA NGAY
                                button XEM CHI TIẾT
                    .prod-detail
                        .wrap-content
                            img(src="../images/15.jpg")
                            .price 1.550.000 Đ
                            .name Máy khoan Black Decker
                            .vote
                                .star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.far.fa-star
                                .text (12 Đánh giá)
                                .clearfix
                            .button
                                button MUA NGAY
                                button XEM CHI TIẾT
                .col-6.prod-sell__bottom__center
                    .prod-detail.center
                        .wrap-content
                            img(src="../images/16.jpg")
                            .price 1.550.000 Đ
                            .name Máy khoan Black Decker
                            .vote
                                .star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.far.fa-star
                                .text (12 Đánh giá)
                                .clearfix
                            .button
                                button MUA NGAY
                                button XEM CHI TIẾT
                .col-3.prod-sell__bottom__right
                    .prod-detail.high
                        .wrap-content
                            img(src="../images/17.jpg")
                            .price 1.550.000 Đ
                            .name Máy khoan Black Decker
                            .vote
                                .star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.far.fa-star
                                .text (12 Đánh giá)
                                .clearfix
                            .button
                                button MUA NGAY
                                button XEM CHI TIẾT
                    .prod-detail
                        .wrap-content
                            img(src="../images/18.jpg")
                            .price 1.550.000 Đ
                            .name Máy khoan Black Decker
                            .vote
                                .star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.far.fa-star
                                .text (12 Đánh giá)
                                .clearfix
                            .button
                                button MUA NGAY
                                button XEM CHI TIẾT
        .prod-sell__banner
            img(src="../images/19.jpg")
    .prod-new-arrive
        .prod-new-arrive__top
            .prod-new-arrive__top__left
                i.fas.fa-th-large
                h2 HÀNG MỚI VỀ
            .prod-new-arrive__top__right
                button
                    i.fas.fa-caret-left
                button
                    i.fas.fa-caret-right
            .clearfix
        .prod-new-arrive__bottom
            .row
                .col-6.prod-detail2
                    .wrap
                        .col-4.img
                            img(src="../images/10.jpg", alt="")
                        .col-8.content
                            .name MÁY KHOAN CNC 3D
                            .vote
                                .star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.far.fa-star
                                .text (12 Đánh giá)
                                .clearfix
                            .text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et...
                            .price 2.350.000 Đ
                            .button
                                button MUA NGAY
                                button XEM CHI TIẾT
                        .clearfix
                .col-6.prod-detail2
                    .wrap.right
                        .col-4.img
                            img(src="../images/15.jpg", alt="")
                        .col-8.content
                            .name MÁY KHOAN CNC 3D
                            .vote
                                .star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.far.fa-star
                                .text (12 Đánh giá)
                                .clearfix
                            .text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et...
                            .price 2.350.000 Đ
                            .button
                                button MUA NGAY
                                button XEM CHI TIẾT
                        .clearfix
            .row
                .col-6.prod-detail2
                    .wrap
                        .col-4.img
                            img(src="../images/4.jpg", alt="")
                        .col-8.content
                            .name MÁY KHOAN CNC 3D
                            .vote
                                .star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.far.fa-star
                                .text (12 Đánh giá)
                                .clearfix
                            .text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et...
                            .price 2.350.000 Đ
                            .button
                                button MUA NGAY
                                button XEM CHI TIẾT
                        .clearfix
                .col-6.prod-detail2
                    .wrap.right
                        .col-4.img
                            img(src="../images/9.jpg", alt="")
                        .col-8.content
                            .name MÁY KHOAN CNC 3D
                            .vote
                                .star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.far.fa-star
                                .text (12 Đánh giá)
                                .clearfix
                            .text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et...
                            .price 2.350.000 Đ
                            .button
                                button MUA NGAY
                                button XEM CHI TIẾT
                        .clearfix

