.container-fluid.contact
    .container
        .row.contact__top
            .col-4.contact__top__content
                i.fas.fa-th-large
                .title VỀ CHÚNG TÔI
                .text Công ty Cổ phần Công nghệ DKT đã và đang khẳng định được vị trí hàng đầu trong lĩnh vực thương mại điện tử.
                .icon
                    i.fas.fa-map-marker-alt
                    .text Tầng 4 toàn nhà Hanoi Group <br>442 Đội Cấn Ba Đình -  Hà Nội
                    .clearfix
                .icon
                    i.fas.fa-envelope
                    .text support@dkt.com.vn
                    .clearfix
                .icon
                    i.fas.fa-mobile-alt
                    .text (84-4) 66558856 - (88-4) 52656565
                    .clearfix
            .col-2.contact__top_content
                i.fas.fa-th-large
                .title CHÍNH SÁCH
                li Chính sách giao hàng
                li Chính sách đổi sản phẩm
                li Chính sách bảo hành
                li Chính sách trả góp
                li Giới thiệu hàng đổi trả
                li Vận chuyển miễn phí
            .col-2.contact__top_content
                i.fas.fa-th-large
                .title DỊCH VỤ & HỖ TRỢ
                li Hệ thống cửa hàng
                li Hướng dẫn mua hàng
                li Hướng dẫn thanh toán
                li Tích điểm đổi thưởng
                li Dịch vụ đổi trả hàng
                li Câu hỏi thường gặp
            .col-2.contact__top_content
                i.fas.fa-th-large
                .title TIN TỨC - SỰ KIỆN
                li Tin tức mới nhất
                li Tin tức khuyến mại
                li Tuyển dụng, đãi ngộ
                li Download tài liệu
                li Chương trình đối tác
                li Nhà phát triển ứng dụng
            .col-2.contact__top_content
                i.fas.fa-th-large
                .title KẾT NỐI
                li
                    i.fab.fa-facebook-f
                    div Facebook
                li
                    i.fab.fa-twitter
                    div Twitter
                li
                    i.fab.fa-google-plus-g
                    div Google
                li
                    i.fab.fa-skype
                    div Skype
                li
                    i.fab.fa-instagram
                    div Instagram
        hr
        .row.contact__bottom
            .col-6.contact__bottom__left
                .title Thanh toán:
                .col-3.img
                    img(src="../images/26.jpg", alt="")
                .col-3.img
                    img(src="../images/27.jpg", alt="")
                .col-3.img
                    img(src="../images/28.jpg", alt="")
                .col-3.img
                    img(src="../images/29.jpg", alt="")
                .col-3.img
                    img(src="../images/30.jpg", alt="")
                .col-3.img
                    img(src="../images/31.jpg", alt="")
                .col-3.img
                    img(src="../images/32.jpg", alt="")
                .col-3.img
                    img(src="../images/33.jpg", alt="")
            .col-6.contact__bottom__right
                .title Giải đáp nhanh:
                .col-6.content
                    .icon
                        i.fas.fa-phone
                    .wrap-text
                        .text
                            .text-top Tư vấn miễn phí (24/7)
                            .text-bottom 1900 650 650
                .col-6.content
                    .icon
                        i.fas.fa-comments
                    .wrap-text
                        .text
                            .text-top Góp ý - phản hồi - thắc mắc
                            .text-bottom 1900 650 650
.container-fluid.footer
    .container
        .footer__left
            .copyright Bản quyền thuộc về <b>Design Team</b>. Phát triển bởi <b>Bizweb</b>.
        .footer__right
            ul
                a(href="../file_pug/homepage.html")
                    li Trang chủ
                a(href="")
                    li Giới thiệu
                a(href="../file_pug/product.html")
                    li Sản phẩm
                a(href="")
                    li Tin khuyến mại
                a(href="")
                    li Dịch vụ
                a(href="")
                    li Liên hệ