.container-fluid.spons
    .container.spons__content
        .spons__content__img
            img(src="../images/20.png", alt="")
        .spons__content__img
            img(src="../images/21.png", alt="")
        .spons__content__img
            img(src="../images/22.png", alt="")
        .spons__content__img
            img(src="../images/23.png", alt="")
        .spons__content__img
            img(src="../images/24.png", alt="")
        .clearfix
.container-fluid.email
    .text Đăng ký để nhận tin tức khuyến mại hàng tuần
    input(type="text" placeholder="Nhập email của bạn...")
    button ĐĂNG KÍ