.menu
    .menu__info.active
        i.fas.fa-bars
        .text DANH MỤC SẢN PHẨM
    .menu__info
        i.fas.fa-th-large
        .text Máy in phun cỡ lớn
    .menu__info
        i.fas.fa-th-large
        .text Máy quét Canon 3D
    .menu__info
        i.fas.fa-th-large
        .text Máy hàn điện Alunima
    .menu__info
        i.fas.fa-th-large
        .text Máy khoan Decameta
    .menu__info
        i.fas.fa-th-large
        .text Máy phay đa năng CNC
    .menu__info
        i.fas.fa-th-large
        .text Máy mài, tiện DC 12V
    .menu__info
        i.fas.fa-th-large
        .text Máy khoan, cắt CNC
    .menu__info
        i.fas.fa-th-large
        .text Máy quay thông minh N3
    .menu__info
        i.fas.fa-th-large
        .text Motor R34C đa dụng
    .menu__info
        i.fas.fa-th-large
        .text Máy in laser màu 3D
.menu-price
    .menu__info.active
        i.fas.fa-dollar-sign
        .text TÌM THEO MỨC GIÁ
    .menu__info
        i.fas.fa-th-large
        .text 0 - 200.000 Đ (45)
    .menu__info
        i.fas.fa-th-large
        .text 200.000 Đ - 500.000 Đ (32)
    .menu__info
        i.fas.fa-th-large
        .text 500.000 Đ - 1.000.000 Đ (27)
    .menu__info
        i.fas.fa-th-large
        .text 1.000.000 Đ - 2.000.000 Đ (16)
    .menu__info
        i.fas.fa-th-large
        .text Trên 2.000.000 Đ (9)
.menu-color
    .menu__info.active
        i.fas.fa-paint-brush
        .text TÌM THEO MÀU SẮC
    .menu__info
        .red
        .text Màu đỏ (45)
    .menu__info
        .yellow
        .text Màu vàng (32)
    .menu__info
        .blue
        .text Màu xanh (27)
    .menu__info
        .silver
        .text Màu bạc (16)
    .menu__info
        .black
        .text Màu đen (9)
.menu-promotion
    .menu__info.active
        i.fas.fa-gift
        .text SẢN PHẨM KHUYẾN MẠI
    .menu__info
        .img
            img(src="../images/34.jpg", alt="")
        .text2
            .name Máy khoan Black Decker loại 1
            .price 1.550.000 Đ
    .menu__info
        .img
            img(src="../images/10.jpg", alt="")
        .text2
            .name Máy khoan Black Decker loại 1
            .price 1.550.000 Đ
    .menu__info
        .img
            img(src="../images/9.jpg", alt="")
        .text2
            .name Máy khoan Black Decker loại 1
            .price 1.550.000 Đ
    .menu__info
        .img
            img(src="../images/14.jpg", alt="")
        .text2
            .name Máy khoan Black Decker loại 1
            .price 1.550.000 Đ
    .menu__info
        .img
            img(src="../images/35.jpg", alt="")
        .text2
            .name Máy khoan Black Decker loại 1
            .price 1.550.000 Đ