@import "_color.scss";
@mixin align-center() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin button() {
    background: none;
    display: inline;
    font-size: 14px;
    margin-top: -1px;
    width: 50px;
    height: 50px;
    border: none;
    border-left: 1px solid #e1e1e1;
    box-sizing: border-box;
    transition: all .3s;
    &:last-child {
        border-right: 1px solid $gray-border;
    }
    &:hover {
        background: $yellow;
        color: $white;
    }
}

.header {
    .header__top {
        height: 50px;
        background: $gray-bg;
        border: 1px solid $gray-border;
        .header__top__left {
            display: inline;
            button {
                @include button;
            }
        }
        .header__top__right {
            float: right;
            display: inline;
            button {
                @include button;
                width: max-content;
                padding: 0 20px;
                font-size: 12px;
                font-weight: bold;
            }
        }
    }
    .header__center {
        height: 120px;
        .header__center__logo {
            position: relative;
            height: 120px;
            img {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        .header__center__phone {
            div {
                @include align-center;
                width: max-content;
                h5 {
                    color: $yellow;
                    font-weight: bold;
                    font-size: 14px;
                }
                p {
                    color: $black-text;
                    font-size: 13px;
                }
            }
        }
        .header__center__search {
            div {
                @include align-center;
                width: 100%;
                input {
                    width: 100%;
                    height: 50px;
                    border: 1px solid $gray-border;
                    border-radius: 25px;
                    padding: 10px;
                    font-size: 14px;
                }
                i {
                    position: absolute;
                    top: 50%;
                    right: 5%;
                    transform: translateY(-50%);
                    color: gray;
                }
            }
        }
    }
    .header__menu {
        height: 70px;
        background: $black-bg;
        color: $white;
        font-size: 14px;
        font-weight: bold;
        .header__menu__left {
            display: inline-block;
            ul {
                list-style: none;
                display: flex;
                padding: 0;
                margin: 0;
                position: relative;
                a {
                    border-left: 1px solid $black-icon;
                    li {
                        height: 70px;
                        padding: 20px 30px;
                    }
                    &:last-child {
                        border-right: 1px solid $black-icon;
                    }
                    &:hover {
                        background: $yellow;
                        transition: all .3s;
                    }
                }
                .dropdown-toggle {
                    &::after {
                        content: none;
                    }
                }
                .dropdown-menu {
                    padding: 0;
                    margin: 0;
                    font-family: arial;
                    font-size: 13px;
                    box-shadow: 0px 0px 5px #aba1a1a1;
                    border-radius: 0;
                    border: none;
                    .show {
                        border-radius: 0;
                    }
                    .dropdown-item {
                        width: 203px;
                        height: 50px;
                        padding-top: 14px;
                        border: none;
                        &:hover {
                            color: $white;
                        }
                        .fas {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
        .header__menu__right {
            display: inline;
            float: right;
            width: 70px;
            height: 70px;
            border: 1px solid $black-icon;
            position: relative;
            .dropdown-toggle {
                .fa-shopping-basket {
                    font-size: 25px;
                    @include align-center();
                }
                &::after {
                    content: none;
                }
            }
            p {
                font-size: 16px;
                font-weight: normal;
                position: absolute;
                top: 13%;
                right: 13%;
                background: $yellow;
                width: 23px;
                height: 23px;
                text-align: center;
                border-radius: 50%;
            }
            &:hover {
                background: $yellow;
                transition: all .3s;
                p {
                    background: $black-icon;
                    transition: all .3s;
                }
            }
            .dropdown-menu {
                position: absolute;
                transform: none !important;
                top: 100% !important;
                left: -328% !important;
                padding: 0;
                margin: 0;
                .dropdown-item {
                    $w: 290px;
                    width: $w;
                    height: 120px;
                    padding: 0;
                    margin: 0;
                    .img-cart {
                        width: $w / 3;
                        height: 120px;
                        position: relative;
                        float: left;
                        img {
                            @include align-center();
                        }
                    }
                    .cart-item {
                        width: $w - $w/2;
                        height: 120px;
                        float: left;
                    }
                }
            }
        }
    }
}